# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/
.coverage.*

# Logs
*.log

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Alembic
*.sqlite3

# Build
build/
dist/
*.egg-info/

# Docker
docker-data/

# Temporary files
*.tmp
*.bak